#wrapperRight {
	float: right;
}

.dataInfo {
	font-family: 'Arial';
	font-weight: bold;
	font-size: 11px;
	color: white;
}

.dataInfo2 {
	font-family: 'Arial';
	font-weight: bold;
	font-size: 11px;
	color: white;
	display: inline-block;
}